fund=false
init-author-email="trevor@trevorsears.com"
init-author-name="Trevor Sears"
init-author-url="https://trevorsears.com/"
message="Bumped package version to `v%s`."
pack-destination="./.npm-packs"
save-exact=true
tag-version-prefix="v"
